@page
@model ContosoCrafts.WebSite.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create"; @* set page title to Create *@
}

<div class="container white-font">
    <h2 class="white-font">Create new anime</h2>
    <form method="post"> <!--Create form-->
        <div asp-validation-asp-validation-summary="ModelOnly" class="text-danger"></div>

    </form>
</div>