@page
@model ContosoCrafts.WebSite.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create"; @* set page title to Create *@
}

<div class="container white-font">
    <h2 class="white-font">Create new anime</h2>
    <form method="post"> <!--Create form-->
        <div asp-validation-asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group"> <!--Anime Title input group-->
            <label class="white-font" asp-for="Product.Title">Title</label><small>*</small>
            <input type="text" class="form-control" asp-for="Product.Title" placeholder="Title" />
            <span asp-asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="form-group"> <!--Anime Description input group-->
            <label class="white-font" asp-for="Product.Description">Description</label>
            <textarea class="form-control" asp-for="Product.Description" placeholder="Descrption"></textarea>
            <span asp-asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
    </form>
</div>