@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
   
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <!--a tag will add a link to the given url-->
                    <td><a asp-page="/Read/Index" asp-route-id="@product.Id">@product.Title</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>