@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <div>
        <button class="btn-warning btn create-btn" onclick="location.href='/Product/Create'">Create</button>> <!--create button-->
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <!--a tag will add a link to the given url-->
                    <td><a asp-page="/Product/Read" asp-route-id="@product.Id">@product.Title</a></td>
                    <td>
                        <button class="btn-success btn" onclick="location.href='/Product/Read?Id=@product.Id';">Read</button>
                        <button class="btn-primary btn" onclick="location.href='/Product/Update?Id=@product.Id';">Update</button>
                        <button class="delete-btn btn" onclick="location.href='/Product/Delete?Id=@product.Id';">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>