@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <div>
        <!-- Create button -->
        <button class="btn-warning btn create-btn" onclick="location.href='/Product/Create'">Create</button>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <!-- Link to read product details -->
                        <a asp-page="/Product/Read" asp-route-id="@product.Id">@product.Title</a>
                    </td>
                    <td>
                        <!-- Read button -->
                        <button class="read-btn btn" onclick="location.href='/Product/Read/@product.Id';">Read</button>

                        <!-- Update button -->
                        <button class="update-btn btn" onclick="location.href='/Product/Update?Id=@product.Id';">Update</button>

                        <!-- Delete button -->
                        <button class="delete-btn btn" onclick="location.href='/Product/Delete?Id=@product.Id';">Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>