@page
@model ReadModel
@{
    ViewData["Title"] = "Read"; @* set page title to Read *@
}

<div class="container white-font"> <!--content container-->
    <h5>@Model.Product.Title</h5> <!--Product title-->
    <img class="read-img" src="@Model.Product.Image"></img><!--Product image-->
    <div>@Model.Product.Description</div><!--Product description-->
</div>