@page
@model ReadModel
@{
    ViewData["Title"] = "Read"; @* set page title to Read *@
}


<div class="container white-font"> <!--content container-->
    <!--Embeded video with iframe-->
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/yeUpnIKt6k4" title="Official English Trailer | Naruto, Set 1 | VIZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h2>@Model.Product.Title</h2> <!--Product title-->
    <div class="description">@Model.Product.Description</div><!--Product description-->
    
    <!--tags area, contains release year and genre-->
    <div class="padding-block">
        <span class="tags">#@Model.Product.Release</span><!--Product Release year-->
        <!--Product genre display as tags one by one-->
        @foreach (var genre in Model.Product.Genre)
        {
            <span class="tags">#@genre</span>
        }
    </div>
    
    <div class="padding-block"></div> <!--push some space for better look-->

    <!--OTT area-->
    <h5>Available platforms</h5><!--Description title-->
    <div>
        <!--Product OTT display as clickable icon one by one--> 
        @foreach (var ott in Model.Product.OTT)
        {
            <a href="@ott.Url" target="_blank">
                <img class="OTT-Icon" src="@ott.Icon"></img>
            </a>
        }
    </div>
</div>