@page
@model ReadModel
@{
    ViewData["Title"] = "Read"; @* set page title to Read *@
}

<div class="container white-font"> <!--content container-->
    <h2>@Model.Product.Title</h2> <!--Product title-->
    <img class="read-img" src="@Model.Product.Image"></img><!--Product image-->
    <h3>Description</h3>
    <div>@Model.Product.Description</div><!--Product description-->
</div>