@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var request = HttpContextAccessor.HttpContext.Request;
    var path = request.Path.Value.ToLower();
    var segments = path.Split('/', StringSplitOptions.RemoveEmptyEntries);
    var breadcrumbs = new List<string> { "<a href='/'>Home</a>" };

    for (int i = 0; i < segments.Length; i++)
    {
        var segment = segments[i];
        var url = string.Join("/", segments.Take(i + 1));

        if (segment.Contains("product"))
        {
            breadcrumbs.Add($"<a href='/{url}'>Product</a>");
        }
        if (!segment.Contains("product"))
        {
            if (!segment.Contains("read"))
            {
                if (!segment.Contains("update"))
                {
                    if (!segment.Contains("delete"))
                    {
                        breadcrumbs.Add($"<a href='/{url}'>{segment}</a>");
                    }
                }
            }
        }
    }
}

<div>
    @foreach (var breadcrumb in breadcrumbs)
    {
        @Html.Raw(breadcrumb)
        @if (breadcrumb != breadcrumbs.Last())
        {
            <span style="color: white;"> | </span>
        }
    }
</div>