@page
@model ContosoCrafts.WebSite.Pages.DevelopersModel
@{
    ViewData["Title"] = "Developers";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: none; color: white;">
        <li class="breadcrumb-item"><a href="/Index" style="color: white;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Developers</li>
    </ol>
</nav>

<div class="privacy-page-text">
    <h2>Developer Information</h2>
</div>

<div class="tile-container">
    @foreach (var developer in Model.Developers)
    {
        <div class="tile">
            <h3>@developer.Name</h3>
            <div class="image-container">
                <img src="@developer.ImageUrl" alt="Developer Image" class="developer-image" />
            </div>
            <a href="mailto:@developer.Email" class="btn btn-primary">Email : @developer.Name</a>
        </div>
    }
</div>