@page
@model ContosoCrafts.WebSite.Pages.QuizModel
@{
    ViewData["Title"] = "Anime Personality Quiz";
}
<div class="container quiz-page">
    @if (!Model.IsSubmitted)
    {
        <h1 class="quiz-title">Anime Personality Quiz</h1>
        <form method="post" class="quiz-form">
            <h2>Question @(Model.CurrentQuestion + 1):</h2>
            <p>@Model.Questions[Model.CurrentQuestion]</p>
            </form>
     }
    </div>